* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

html, body {
    height: 100%;
}

.buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    row-gap: 2px;
    column-gap: 2px;
    width: 100%;
}

.select,
.grid-toggle,
.random-rgb,
.opaque {
    height: 50%;
    padding: 2px 4px;
    flex: 1 0 40%;
    font-size: 10px;
}

.container {
    display: flex;
    flex-flow: row wrap;
    width: 90vw;
    height: 90vw;
    justify-content: center;
    align-items: center;
    align-self: center;
    border: 3px solid black;
    margin: auto;
    align-content: center;
    flex-shrink: 1;
    flex-grow: 0;
    margin: 10px;
}

.cell {
    flex: 0 1 auto;
    height: 24%;
    width: 24%;
    
}

.show {
    border: 0.5px solid black;
}

.hide {
    border: 0px;
}
