* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

html, body {
    height: 100%;
}
.select,
.grid-toggle {
    width: 40vw;
    height: 4vw;
    font-size: 1.5em;
}

.container {
    display: flex;
    flex-flow: row wrap;
    width: 90vw;
    height: 90vw;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 0px;
    border: 1px solid black;
    margin: auto;
    align-content: center;
}

.cell {
    flex: 1 1 auto;
    height: 24%;
    width: 24%;
    
}

#on {
    border: 0.1em solid black;
}

#off {
    border: 0px;
}
