* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(26, 26, 33);
    
}

html, body {
    height: 100%;
}

.buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    row-gap: 2px;
    column-gap: 2px;
    width: 95%;
    margin: 3px;
}

.select,
.grid-toggle,
.random-rgb,
.opaque,
.eraser,
.color-div {
    height: 30%;
    padding: 2px 4px;
    flex: 1 0 40%;
    font-size: 10px;
}

.color-selected {
    font-size: 10px;
    padding: 1px 8px;
}
#color {
    height: 100%;
    margin-bottom: 20px;
    padding: 1px 8px;
}

.color-div {
    background: grey;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-flow: row wrap;
    width: 90vw;
    height: 90vw;
    max-width: 800px;
    max-height: 800px;
    justify-content: center;
    align-items: center;
    align-self: center;
    border: 4px solid rgb(59, 59, 59);
    box-shadow: 4px 10px 5px rgb(128, 128, 128);
    margin: auto;
    align-content: center;
    margin: 10px;
    background-color: white;
}

.cell {
    flex: 0 1 auto;
    height: 24%;
    width: 24%;
    
}

.show {
    border: 0.01px solid black;
}

.hide {
    border: 0px;
}

button,
.color-div {
    background-color: rgb(26, 26, 33);
    color: white;
    border: 1px solid white;
}

button:hover,
.color-div:hover {
    background-color: rgb(207, 207, 207);
    color: rgb(26, 26, 33);
    border: 1px solid rgb(26, 26, 33);
}

p {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-weight: 700;
    align-self: center;
    margin: 24px;
    color: rgb(115, 107, 187);
    font-size: 24px;
}
